<!DOCTYPE html>
<html lang="en">

<head>
	<title>Dog Breed Image Search</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'images/css/bootstrap.min.css' %}" type = "text/css"/>
	 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <center>
			  <div class="col-xs-12">
				  <br>
				  
				  <h1>Dog Breed Image Search Engine</h3>
				 
			  </div>
			</center>
		</div>

		<hr>

		<div class="row">
		
		
		  <div class="col-sm-12">
		  
			<div class='container-fluid'>
			<br><br>
			   {% block content %}
			   {% endblock %}	
			</div>
		  </div>

		</div> 
	</div>
	<footer>
		
	</footer>	
	
</body>

</html>